extends layout
block script
    script(src='/js/bibliotheque.js')
block content
    .container
        .row
            .col-md-6
                #custom-search-input
                    .input-group.col-md-12
                        input.form-control.input-lg#search(type='text', placeholder='Find a movie')
                        span.input-group-btn
                            button.btn.btn-info.btn-lg(type='button')
                                i.glyphicon.glyphicon-search
                #autocompletion.col-md-6
            .col-md-6
                .input-group(style="height:54px;")
                    span.input-group-addon.custom__addon.blue__addon
                        span.glyphicon.glyphicon-cog
                        |   Sort by
                    select.form-control.custom__select(style="height:54px;")
                        option(value='') --__ Nothing __--
                        option(value='name') Name
                        option(value='category') Category
                        option(value='note') Note
                        option(value='year') Year
        .row(style="margin-top:20px")
            .col-md-6
                .input-group
                    span.input-group-addon.custom__addon.blue__addon
                        span.glyphicon.glyphicon-cog
                        |   Choose year
                .range.range-primary
                    output#rangePrimary.rangeLower 2000
                    input(type='range', id="lower_year" name='range', min='1900', max='2016', value='2000', search='year')
                .range.range-primary
                    input(type='range', id="higher_year" name='range', min='2000', max='2016', value='2000', search='year')
                    output#rangePrimary.rangeHigher 2000
                .btn-group.checkbox_btn(data-toggle='buttons')
                    label.btn.btn-primary(style="width:100%")
                        input(type='checkbox', autocomplete='off')
                        span.glyphicon.glyphicon-ok
            .col-md-6
                .input-group
                    span.input-group-addon.custom__addon.blue__addon
                        span.glyphicon.glyphicon-cog
                        |   Choose note
                .range.range-primary
                    output#rangePrimary.rangeLower 5
                    input(type='range', id="lower_note" name='range', min='0', max='10', value='5', search='note')
                .range.range-primary
                    input(type='range', id="higher_note" name='range', min='5', max='10', value='10', search='note')
                    output#rangePrimary.rangeHigher 10
                .btn-group.checkbox_btn(data-toggle='buttons')
                    label.btn.btn-primary(style="width:100%")
                        input(type='checkbox', autocomplete='off')
                        span.glyphicon.glyphicon-ok
        .row#bibliotheque
              if data
                each val in data
                    .col-lg-3.col-md-4.col-sm-6.col-xs-6(style="margin-top: 20px;")
                        div.big_vignette
                            p(style="text-align:center;font-weight:700;font-size:medium;min-height:44px;") #{val.title}
                            p(style="text-align:center;font-weight:700") #{val.year}
                            p(style="text-align:center;font-weight:700") #{val.rating} / 10
                            img.vignette(src='#{val.medium_cover_image}', width='210', height='315')
                            if val.vision
                                div.vision #{val.vision}
                            // download qualité
                            div.button(style="text-align:center")
                                if val.torrent_3D_id
                                    button.film_3D.bouton(movie="#{val.id}" style="margin:5px;") 3D
                                button.film_720p.bouton(movie="#{val.id}" style="margin:5px;") 720p
                                button.film_1080p.bouton(movie="#{val.id}" style="margin:5px;") 1080p
              else
                div.jumbotron
                  h2 Oups we found nothing here
