div(id="header" style="position:fixed; width:100%;z-index: 20;")
    nav(class="navbar navbar-default" style="border-radius: 0px; box-shadow: 9px 2px 10px 5px grey;")
        div(class="container-fluid")
            div(class="navbar-header")
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(class="navbar-brand" href="/") Hypertube
            div.collapse.navbar-collapse#bs-example-navbar-collapse-1
                ul.nav.navbar-nav
                    if login
                        li#video
                            a(href="/bibliotheque").
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    else
                        li#video(style="display:none")
                            a(href="/bibliotheque").
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                if translation
                    div.login-bloc.navbar-left
                        form
                            div.form-group.navbar-form#sign_in_form(style="display: none;")
                                input.form-control#login_in(type="text" placeholder="#{translation.login}" style="margin-right:15px")
                                input.form-control#password_in(type="password" placeholder="#{translation.mdp}" style="margin-right:15px")
                                button.btn.btn-default#submit_connection #{translation.connect}
                else
                    div.login-bloc.navbar-left
                        form
                            div#sign_in_form.form-group.navbar-form(style="display: none;")
                                input.form-control#login_in(type="text" placeholder="login" style="margin-right:15px")
                                input.form-control#password_in(type="password" placeholder="password" style="margin-right:15px")
                                button.btn.btn-default#submit_connection Connection
                if translation && login
                    button.btn.btn-default.navbar-btn.navbar-left#sign_in(type="button" style="margin-right:15px;display:none;float:left") #{translation.in}
                    button.btn.btn-default.navbar-btn.navbar-left#sign_up_toggle(type="button" style="display:none;float:left") #{translation.up}
                    form(style="float:left")
                        div#42_sign_in(style="display:none;")
                            a.navbar-left.navbar-btn(href="https://api.intra.42.fr/oauth/authorize?client_id=ad3235caccb1f5d591b4136a695284080b9a7db99ba6f0e13da1b0bb7a592c53&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fsign_in_ft&response_type=code" style="margin-top:3px;")
                                img(src="/images/42_logo.png" width="43" height="43" style='margin-left:15px')
                    div#fbtn.fb-login-button(data-max-rows="1" data-size="large" onlogin="checkLoginState();" style='margin-left:20px;margin-top:9px;display:none;float:left;margin-right:20px')
                else if translation && !login
                    button.btn.btn-default.navbar-btn.navbar-left#sign_in(type="button" style="margin-right:15px;float:left") #{translation.in}
                    button.btn.btn-default.navbar-btn.navbar-left#sign_up_toggle(type="button" style="float:left") #{translation.up}
                    form(style="float:left")
                        div#42_sign_in
                            a.navbar-left.navbar-btn(href="https://api.intra.42.fr/oauth/authorize?client_id=ad3235caccb1f5d591b4136a695284080b9a7db99ba6f0e13da1b0bb7a592c53&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fsign_in_ft&response_type=code" style="margin-top:3px;")
                                img(src="/images/42_logo.png" width="43" height="43" style='margin-left:15px')
                    div#fbtn.fb-login-button(data-max-rows="1" data-size="large" onlogin="checkLoginState_fb();" style='margin-left:20px;margin-top:9px;float:left;margin-right:20px')
                else
                    button.btn.btn-default.navbar-btn.navbar-left#sign_in(type="button" style='margin-right:15px;display:none;float:left') Sign in
                    button.btn.btn-default.navbar-btn.navbar-left#sign_up_toggle(type="butoon"  style="display:none;float:left") Sign up
                    form(style="float:left")
                        div#42_sign_in(style="display:none;")
                            a.navbar-left.navbar-btn(href="https://api.intra.42.fr/oauth/authorize?client_id=ad3235caccb1f5d591b4136a695284080b9a7db99ba6f0e13da1b0bb7a592c53&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fsign_in_ft&response_type=code" style="margin-top:3px;")
                                img(src="/images/42_logo.png" width="43" height="43" style='margin-left:15px')
                        div#fbtn.fb-login-button(data-max-rows="1" data-size="large" onlogin="checkLoginState();" style='margin-left:20px;margin-top:9px;display:none;float:left;margin-right:20px')
                if translation
                    li.navbar-left#pass-reset(style="display: none;")
                        a#forgot_pass #{translation.forgot_pass}
                else
                    li.navbar-left#pass-reset(style="display: none;")
                        a#forgot_pass Forgot password ?
                div.alert.alert-danger.form-group.navbar-left#connection_erreur(role="alert" style="display:none;margin-right:15px;margin-bottom:0px")
                ul.nav.navbar-nav.navbar-right
                    li
                        if login
                            a#name
                                span #{name}
                        else
                            a#name(style="display:none")
                                span
                    li
                        if login
                            a#login_value
                                span.glyphicon.glyphicon-home#home(aria-hidden="true")
                        else
                            a#login_value(style="display:none")
                                span.glyphicon.glyphicon-home#home(aria-hidden="true")
                    li
                        if login
                            a#logout
                                span.glyphicon.glyphicon-off(aria-hidden="true")
                        else
                            a#logout(style="display:none")
                                span.glyphicon.glyphicon-off(aria-hidden="true")
                    li
                        if langue == "FR"
                            button.btn.btn-default.navbar-btn.navbar-left#langue(type="button" style="float:left") EN
                        if langue == "EN"
                            button.btn.btn-default.navbar-btn.navbar-left#langue(type="button" style="float:left") FR
                    div.profile(style="display:none;padding:30px 15px 15px 15px")
div.alert.text-center#signup_erreur(role="alert")