extends layout
block content
    div.container
      div.row
        div.col-lg-12
          div.jumbotron
            h2 #{translation.title}
      div.row
        div.col-lg-12
            form
             div(class="form-group" id="sign_up_form" style="display: none;")
                h2(class="text-center") #{translation.up}
                input(type="text" class="form-control form_stack" id="user_name" placeholder="#{translation.login}" style="margin-right:15px")
                input(type="text" class="form-control form_stack" id="fname" placeholder="#{translation.prenom}" style="margin-right:15px")
                input(type="text" class="form-control form_stack" id="lname" placeholder="#{translation.nom_famille}" style="margin-right:15px")
                input(type="text" class="form-control form_stack" id="email" placeholder="#{translation.email}" style="margin-right:15px")
                input(type="password" class="form-control form_stack" id="pass" placeholder="#{translation.mdp}" style="margin-right:15px")
                input(type="password" class="form-control form_stack" id="cpass" placeholder="#{translation.mdp_conf}" style="margin-right:15px")
                input(type="submit" class="btn btn-default form_stack"  id="sign_up" value="#{translation.up}")
      div.row
        div.col-lg-12
            form
             div(class="form-group" id="reset-pass-form" style="display: none;")
                h2(class="text-center") #{translation.reset_pass}
                input(type="text" class="form-control form_stack" id="reset_uname" placeholder="#{translation.login}" style="margin-right:15px;")
                input(type="text" class="form-control form_stack" id="reset_umail" placeholder="#{translation.email}" style="margin-right:15px;")
                input(type="password" class="form-control form_stack" id="reset_pass" placeholder="#{translation.mdp}" style="margin-right:15px; display:none;")
                input(type="password" class="form-control form_stack" id="reset_cpass" placeholder="#{translation.mdp_conf}" style="margin-right:15px; display:none;")
                input(type="submit" class="btn btn-default form_stack"  id="reset" value="#{translation.modif}")
