extends layout
block script
    script(src='/js/login.js')
block content
    div.container
      div.row
        div.col-lg-12
          div.jumbotron
            h2 Welcome to Hypertube
      //div(class="alert text-center" role="alert" id="signup_erreur" style="display:none;margin-right:15px;margin-bottom:0px")
      div.row
        div.col-lg-12
            form
             div(class="form-group" id="sign_up_form" style="display: none;")
                h2(class="text-center") Sign Up
                input(type="text" class="form-control form_stack" id="user_name" placeholder="Username" style="margin-right:15px")
                input(type="text" class="form-control form_stack" id="fname" placeholder="First name" style="margin-right:15px")
                input(type="text" class="form-control form_stack" id="lname" placeholder="Last name" style="margin-right:15px")
                input(type="text" class="form-control form_stack" id="email" placeholder="E-mail" style="margin-right:15px")
                input(type="password" class="form-control form_stack" id="pass" placeholder="Password" style="margin-right:15px")
                input(type="password" class="form-control form_stack" id="cpass" placeholder="Password confirmation" style="margin-right:15px")
                input(type="submit" class="btn btn-default form_stack"  id="sign_up" value="Inscription")
      div.row
        div.col-lg-12
            form
             div(class="form-group" id="reset-pass-form" style="display: none;")
                h2(class="text-center") Reset Password
                input(type="text" class="form-control form_stack" id="reset_uname" placeholder="Username" style="margin-right:15px;")
                input(type="text" class="form-control form_stack" id="reset_umail" placeholder="E-mail" style="margin-right:15px;")
                input(type="password" class="form-control form_stack" id="reset_pass" placeholder="Password" style="margin-right:15px; display:none;")
                input(type="password" class="form-control form_stack" id="reset_cpass" placeholder="Password confirmation" style="margin-right:15px; display:none;")
                input(type="submit" class="btn btn-default form_stack"  id="reset" value="Envoyer")
        div.row
        div.col-lg-12

          if top100
              each val in top100
                div.vignette.col-lg-3
                    p #{val.name}
                    p #{val.category.name}
                    p #{val.subcategory.name}
                    p #{val.size}
                    p download now
                    //#{val.magnetLink}
