extends layout
block script
  if info && info.path
    link(href='//vjs.zencdn.net/5.4.6/video-js.min.css', rel='stylesheet')
    script(src='//vjs.zencdn.net/5.4.6/video.min.js')
    script(src='/js/video.js')
  script(src='/js/video2.js')
block content
  div.container
    div(class="row")
      div(style="width:auto;height:auto;margin: 0 auto;")
        div(class="animation")
          .sk-circle
            .sk-circle1.sk-child
            .sk-circle2.sk-child
            .sk-circle3.sk-child
            .sk-circle4.sk-child
            .sk-circle5.sk-child
            .sk-circle6.sk-child
            .sk-circle7.sk-child
            .sk-circle8.sk-child
            .sk-circle9.sk-child
            .sk-circle10.sk-child
            .sk-circle11.sk-child
            .sk-circle12.sk-child
        if trailer
          div.jumbotron(style="padding:48px;text-align:center;")
            h3 #{translation.Description_trailer}
            div#voir_la_video
          iframe(type="text/html" src='https://www.youtube.com/v/#{trailer}' width="1920" height="1080")
        else if info && info.path
          p #{translation.langue_film} #{info.language}
          p #{translation.directeur} : #{details.director}
          p #{translation.ecrivain} : #{details.writers}
          p #{translation.acteur} : #{details.stars}
          div.jumbotron(style="padding:48px")
            p #{info.summary}
          video#rush_hour.video-js.vjs-default-skin.vjs-big-play-centered(class="videoplayer" controls='', preload='auto', width='1920', height='1080', poster='#{info.background_image_original}', data-setup='{"autoplay": false}')
            source(src='/movie/#{info.path}', type='video/mp4')
            // subtitle caption :
             track(kind='captions', src='http://example.com/path/to/captions.vtt', srclang='en', label='English', default='')
            p.vjs-no-js
              | To view this video please enable JavaScript, and consider upgrading to a web browser that
              a(href='http://videojs.com/html5-video-support/', target='_blank') supports HTML5 video

        div(class="comms")
                div.comm-container
                 if comm
                    each val in comm
                        div.comm
                            div(class="profil-views" style="display:none;")
                                img(class="p-pic" src='/img/profile.jpg' height="100" width="100" style="border-radius: 50%;border: 5px solid #eeeeee;float:left;")
                                div.infos
                                    div.p-fname
                                    div.p-lname
                                    div.p-email
                            p.comm-name #{val.u_name}
                            p.comm-time #{val.time}
                            p.comm-content #{val.content}
            div.form-group(style="width: 26%;margin: auto;")
                form
                    div(class="alert alert-danger" id="comm_erreur" style="display:none;margin-right:15px;margin-bottom:0px;width: 140%;text-align: center;")
                    .group.test
                        input(type='text', required='' id="com-content" style="width: 140%;")
                        span.highlight
                        span.bar(style="width: 140%;")
                        label.label #{translation.comm}
                        input(type="submit" id="send-com" value="#{translation.valider}" style="width: 140%;")